<html lang="ja">
    <head>
        <title>{% block title %}Celery demo{% endblock %}</title>
        <meta http-equiv="refresh" content="10; URL=">
    </head>
    <body>
        <h3>Multiplier</h3>
        <form method="post" action="celery">
            {% csrf_token %}
            <tbody>
                <td><input type="text" name="input_a"></td>
                <td>+</td>
                <td><input type="text" name="input_b"></td>
            </tbody>
            <input type="submit" name="add_button" value="Calculate!">
        </form>
        <h3>Results</h3>
        <tbody>
            <td>Outputs:</td>
            <td>{{ result }}</td>
        </tbody>
    </body>
</html>
